/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#paste-wrapper {
	margin-top: 30px;
	width: 80%;
	margin-left: auto ;
	margin-right: auto ;
}

#paste-wrapper #details {
	width: 100%;

}

#paste-wrapper #details #title {
	float: left;
}
#paste-wrapper #details #nick {
	margin-left: 30px;
	float: left;
}


#paste-wrapper #code {
	padding-top: 30px;
	/*background: #ccc;*/
	width: 100%;
	float: center;
}
#paste-wrapper .CodeRay {
		border: solid 2px gray
}
#paste-wrapper .links {
	margin-left: auto;
    margin-right: auto;
	text-align: center;
}
.line-numbers {
	background: #eee;
}
.code {
	background: #eee;
	width: 100%;
}


.top {
    height: 57px !important;
    margin: 0 0 30px;
    padding: 0;
    line-height: 45px;
    width: 100% !important;
    background: #111



}
	
.top-bar .attached {
    margin: 0 auto;
    position: relative;
    height: 55px;
    border: 0 solid #000;
    border-width: 0 0 1px;
    color: #fff;
    font-family: "Helvetica", Arial, sans-serif;
    z-index: 39;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    background: #111;
	font-weight: bold;
	font-size: 30px;
}
.top-bar .attached h1, h2 {
	text-align: center;
}

.center {
	margin-left: auto;
    margin-right: auto;
	text-align: center;
}
