/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
::selection {
background: #A0E6FF;
}
/*
Uuden luontia varten
*/
#new-wrapper {
	width: auto;
	margin-top: 10px;
	margin-left: auto ;
	margin-right: auto ;
	padding: 10px;
	background: lightgray;
	text-align: center;
	

}
#new-wrapper .new_paste {
	
	margin-left: auto ;

	margin-right: auto ;
	width: 600px;
	text-align: center;
}

#new-wrapper .new_paste #properties {
	width: 100%;
	margin-left: 10px;
	text-align: left
}
#new-wrapper .new_paste .fieds {
	margin-left: auto ;
	margin-right: auto ;
	text-align: left;
}


#new-wrapper .new_paste #code {
	padding-top: 30px;
	/*background: #ccc;*/
	width: 100%;
	text-align: center;
}


