/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
::selection {
background: #A0E6FF;
}

#paste-wrapper {
	margin-top: 30px;
	width: 80%;
	margin-left: auto ;
	margin-right: auto ;
}

#paste-wrapper #details {
	width: 100%;

}

#paste-wrapper #details #filename {
	float: left;
}
#paste-wrapper #details #nick {
	margin-left: 30px;
	float: left;
}
#paste-wrapper #details #size {
	margin-left: 30px;
	float: left;
}
#paste-wrapper #details #title {
	float: left;
}


#paste-wrapper #code {
	padding-top: 30px;
	/*background: #ccc;*/
	width: 100%;
	float: center;
	
}
#paste-wrapper #code .CodeRay .code{
	word-wrap: break-word;
	width:100%;
/*	width: 70em;
	display:inline-block;*/
	
}
#paste-wrapper .CodeRay {
		border: solid 2px gray
}
#paste-wrapper .links {
	margin-left: auto;
    margin-right: auto;
	text-align: center;
}
/*
Uuden luontia varten
*/
#new-wrapper {
	width: auto;
	margin-top: 10px;
	margin-left: auto ;
	margin-right: auto ;
	padding: 10px;
	background: lightgray;
	text-align: center;
	

}
#new-wrapper .new_paste {
	
	margin-left: auto ;

	margin-right: auto ;
	width: 600px;
	text-align: center;
}

#new-wrapper .new_paste #properties {
	width: 100%;
	margin-left: 10px;
	text-align: left
}
#new-wrapper .new_paste .fieds {
	margin-left: auto ;
	margin-right: auto ;
	text-align: left;
}


#new-wrapper .new_paste #code {
	padding-top: 30px;
	/*background: #ccc;*/
	width: 100%;
	text-align: center;
}


