<!DOCTYPE html>
<html>
  <head>
    <title>TMCopyPaste</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <script>
      h(['_setAccount', "A-35031179-1"]);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script');
          ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

    </script>
    <%= csrf_meta_tags %>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">TMCopyPaste</a>
      </div>
    </div>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>

